.page {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100%;
	padding: 1rem;
	gap: 1rem;
}

.nav {
	height: 100%;
	width: 20rem;
	top: 0;
	background-color: var(--color-bg-variant);
	opacity: 0.7;
	transition: var(--transition);
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
}

.nav__logo {
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--color-primary);
	text-decoration: none;
	transition: var(--transition);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem 0;
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}

.nav__list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 100%;
	gap: 1rem;
	margin-top: 1rem;
}

.nav__list:last-child {
	margin-bottom: 1rem;
}

.nav__list svg,
.nav__signout svg {
	aspect-ratio: 1/1;
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 1rem;
}

.nav__list a,
.nav__signout {
	width: 100%;
	text-decoration: none;
	color: var(--color-white);
	background: transparent;
	font-size: 1.2rem;
	font-weight: 500;
	transition: var(--transition);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 1rem 2rem;
	cursor: pointer;
}

.nav__signout {
	margin-bottom: 1rem;
}

.nav__list a:hover,
.nav__signout:hover,
.nav__list .active {
	background: var(--color-bg);
	color: var(--color-primary);
}

@media screen and (max-width: 600px) {
	.nav__logo {
		display: none;
		font-size: 1.2rem;
		margin-left: 1rem;
	}
	.nav {
		height: 4rem;
		padding: 0 1rem;
		justify-content: space-around;
	}
	.nav__list {
		width: 100%;
		justify-content: space-around;
		gap: 0;
	}
	.nav__list a .nav__list div {
		padding: 1rem;
		font-size: 1rem;
	}

	.nav__list a[alt]:hover::after,
	.nav__list div[alt]:hover::after {
		display: none;
	}
}
